@keyframes spin {
    20% { content: "Designer";}
    40% { content: "Programmer";}
    60% { content: "Writer"}
    80% { content: "Forever Learner";}
    100% { content:"Problem Solver";}
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
/* Hero */
#poppinsmain { 
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color:#ffffff;
    text-align:left;
    margin-left: 10%;
    margin-bottom: 12%;
    display: block;
}

/**
#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 50px;
	background-color: aqua;
	animation: blink .75s step-end infinite;
}
*/

#hero{
    font-family: 'Poppins', sans-serif;
    font-size: 5vmax;
    font-weight: bold;
    color: aqua;
    text-align:left;
    margin-left: 10%;
    margin-top: 12%;
    display: inline-block;
    width: 60%;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: aqua; 
	}
}

#meetbutton {
    font-family: 'poppins'; 
    display: inline;
    font-weight: bold;
    cursor: pointer;
    font-size: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align:center;
    background-color: #ffffff;
    color: black;
    border-color: #fff;
    transition: all 0.3s ease-in-out;
}

#meetbutton:hover{
    background-color: transparent;
    border-color: #ffffff;
    color: white;
}

/* Animation for bar underneath */
#meet:before{
    content: '';
    background: aqua;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.3s ease-in-out;
}
  
#meet:hover {
   background-position: 0;
}
  
#meet:hover::before{
    width: 97%;
}

/* Animation for meet with me link */
#meet{
    background-image: linear-gradient(
      to right,
      aqua,
      aqua 50%,
      aqua 50%
    );
    font-weight: 800;
    vertical-align: top;
    padding:5px 0;
    position: relative;
    background-clip:text;
    -webkit-background-clip: text;
    transition: all 0.3s ease-in-out;
}

#spin {
  color:aqua;
}

#spin:after {
  content:"Developer";
  animation: spin 10s linear infinite;
}

body {
  background: #1F1E1D;
  font-family: "Poppins";
}

.mynavbar{
    display: block;
    width: 100%;
}

.navMenu {
    display: block;
    padding-top: 1em;
    padding-right: 2em;
    padding-bottom: 1em;
    text-align: left;
    background-color: #000000;
}

#rightnav {
    text-align: right;
    vertical-align: middle;
    display: inline;
    float: right;
}

#rightnav img {
    width: 2.5vmax;
}

#rightnav a {
    margin-left: 1em;
}

a, a:link, a:visited{
    color: #ffffff;
}

.navMenu a, a:visited {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.3vmax;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 2em;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}

a {
    text-decoration: none;
}

.navMenu a:hover {
  color: aqua;
}

.navMenu .dot {
  width: 6px;
  text-align: left;
  height: 6px;
  background: aqua;
  border-radius: 50%;
  opacity: 0;
  margin-right: auto;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.portfolio {
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em 4em 4em 4em;
    grid-template-columns: 100% 0%;
    width: 80%;
    border-radius: 5px;
    display: grid;
    gap: 50px 60px;
}

table {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
}

.thumb img {
    border-radius: 5px;
    border: 2px solid #000;
    display: inline-block;
    margin-bottom: 2em;
    width: 95%;
    position: relative;
    opacity: 0.9;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease-in-out;
}

.thumb img:hover{
    top: 0;
    border: 2px solid aqua;
    left: 0;
    background-color:#000;
    opacity:1;
}

/* */
h1 {
    color: aqua;
}

h2 {
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    color: aqua;
}

h4 {
    font-weight: bold;
    font-size: 2rem;
    color: aqua;
    margin-left: 15%;
}

p {
    font-size: 20px;
    color: #fff;
}

.sectionA {
   padding-top: 4em;
   padding-bottom: 4em;
   background-color: #000000;
}

.sectionB {
    padding-top: 4em;
    padding-bottom: 4em;
 }

#languages img {
    display: inline-block;
    margin-top:  2em;
    margin-bottom: 2em;
    height: auto;
    max-width: 200px;
    vertical-align: middle;
}

#aboutme {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#resume {
    width: 100%;
}

#pages {
    width: 80%;
}

#A1, #B2 {
    border-radius: 5px;
    border: solid #000;
    opacity: 0.9;

}

#A1:hover, #B2:hover {
    opacity: 1;
}

#pdfbutton {
    font-family: 'poppins'; 
    font-weight: bold;
    color: #000;
    cursor: pointer;
    font-size: 20px;
    text-align:center;
    background-color: #ffffff;
    border-color: black;
    margin-top: 1em;
    padding:10px 20px 10px 20px;
    transition: all 0.3s ease-in-out;
}

#pdfbutton:hover{
    background-color: white;
    border-color: #000;
    color: white;
    border-radius: 3px;
}

#gridcontainer{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
}

#paragraph {
    margin-left: auto;
    margin-right: auto;
}

#footer{
    margin-top: 5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: aqua;
}

html {
	scroll-behavior: smooth;
}

#brag {
    text-align: right;
    font-size: 1em;
    color: #fff;
    display: none;
}